*{
   
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-wrap:wrap;
    float: left;
}
.column{
    background-color: aqua;
}
.column{
    background-color: blueviolet;
}
.column{
    background-color: coral;
}
.column{
    background-color: purple;
}
.column{
    flex: 25%;
    padding: 20px;
}
@media screen and (max-width: 992px){
    .column{
        
        background-color: coral;
        text-align: center;
    }
}

@media  screen and (max-width:600px){ 
    .row{
        flex-direction: column;
        background-color: chartreuse;
        text-align: center;
      
    }

}
